* {
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


main .cards-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 60px;
}

.main-group-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 102px;
    padding-bottom: 108px;
}

.list-title {
    font-size: 48px;
}

.card-event {
	border-radius: 10px;
	border: 2px solid #716D6A;
	width: 441px;
	padding: 30px 30px;
	max-height: 300px;
}

.card-header {
	display: flex;
	align-items: center;
}

.card-header .card-row__block:first-child {
	margin-right: 15px;
}

.card-title {
	font-size: 20px;
	font-weight: 600;
}

.card-main .card-main-group {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.card-main .card-row__block {
	display: flex;
	align-items: center;
}

.card-subtext {
	font-size: 14px;
	font-weight: 600;
}

.card-description {
    max-width: 400px;
	margin-top: 20px;
}